<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %> 
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Elections Data</title>
  </head>
  <body>
    <div class="container d-flex flex-column w-50">
      <a class="btn btn-success w-100" href="polling-units">View Polling Units</a>
      <a class="btn btn-success w-100 mt-2" href="lga/result">View Results</a>
      <a class="btn btn-success w-100 mt-2" href="polling-units/new">Store Results</a>
    </div>

    <%- include("./partials/bs-script.ejs") %> 
  </body>
</html>
